
#ignore all configs first
#config/*

#ignore1
*.git

#ignoring
memo
#ignore nvim plugs
config/nvim/plugged/**
config/nvim/autoload/**
local/share/nvim/swap/**
local/share/nvim/shada/***
local/share/nvim/site/autoload/**

#fonts
local/share/fonts

config/composer/vendor/**
