
!To delete current settings, run xrdb -remove 
!To check if terminal supports 256 colors. tput colors



!to comment start from 

!clipoard shortcuts

XTerm*VT100.Translations: #override \
                 Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
                 Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)                                                                   
!clipboard functions
XTerm*selectToClipboard: true

XTerm*termName :xterm-256color
XTerm*utf8 :1
XTerm*locale :true

!font
XTerm*renderFont:true
XTerm*faceName::mplus Nerd Font:style=regular
!XTerm*faceDoublesizeName:M+ 1p,mplus Nerd Font:style=medium,Regular
XTerm*faceDoublesizeName: M+ 1m Nerd Font Complete.ttf: M+ 1m,mplus Nerd Font:style=regular

XTerm*letterSpace:0 
XTerm*faceSize: 14
XTerm*xftAntialias:true
XTerm*xftHinting:true

Xft.dpi:96
Xft.antialias:true
Xft.rgba:rgb
Xft.hinting:true
Xft.hintstyle:hintsmedium

!ThemeColor 
!https://github.com/chriskempson/tomorrow-theme/blob/master/Xdefaults/XresourceTomorrowNight
!TomorrowNight
!#define t_background        #1d1f21
!背景を他の色と合わせるために変更
#define t_background  #030009
#define t_current_line      #282a2e
#define t_selection      	#373b41
#define t_foreground      	#c5c8c6
#define t_comment	     	#969896
#define t_red		     	#cc6666
#define t_orange	     	#de935f
#define t_yellow        	#f0c674
#define t_green	        	#b5bd68
#define t_aqua	        	#8abeb7
#define t_blue	        	#81a2be
#define t_purple        	#b294bb


XTerm*.foreground:   t_foreground
XTerm*.background:   t_background
XTerm*.cursorColor:  #aeafad

! Black / Grey
XTerm*.color0:       #000000
XTerm*.color8:       #666666

! Red / Bright Red
XTerm*.color1:       t_red
XTerm*.color9:       #FF3334

! Green + Bright Green
XTerm*.color2:       t_green
XTerm*.color10:      #9ec400

! Yellow (Orange) + Bright Yellow (Yellow)
XTerm*.color3:       t_orange
XTerm*.color11:      t_yellow

! Blue + Bright Blue
XTerm*.color4:       t_blue
XTerm*.color12:      t_blue

! Magenta (Purple) + Bright Magenta
XTerm*.color5:       t_purple
XTerm*.color13:      #b777e0

! Cyan (Aqua) + Bright Cyan
XTerm*.color6:       t_aqua
XTerm*.color14:      #54ced6

! Light Grey (Selection) + White (Current Line)
XTerm*.color7:       t_selection
XTerm*.color15: t_current_line


