[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=False
Exec=chromium -incognito
Name=ci
Type=Application
categories=Application
Comment= For future rerfence when chromium supports wayland
