[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=False
Exec="rxvt-unicode nvim"
Name=vim
Type=Application
categories=Application



